<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272763363329-i8n51oo9m30h9it7qq9ufmd0lahnmm63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272763363329-i8n51oo9m30h9it7qq9ufmd0lahnmm63</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272763363329-143lqjkb0i5a75lc0iglc26jlb61po0c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJYYDMdzQiNiY0pxqbrglEw85BSlGgHBc</string>
	<key>GCM_SENDER_ID</key>
	<string>272763363329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdscvit.vittyios</string>
	<key>PROJECT_ID</key>
	<string>vitty-dscvit</string>
	<key>STORAGE_BUCKET</key>
	<string>vitty-dscvit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272763363329:ios:3b020b67f7527e83e2e000</string>
</dict>
</plist>